* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: white;
}

h1 {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 2em;
  font-weight: bold;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.column {
  flex: 33.33%;
  padding: 5px;
}